*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	color: white;
}

header{
	height: 100vh;
	background: url('img/headerBckground.png') no-repeat center/cover	;
	
}

@media only screen and (min-width: 768px) {

	nav{
		display: flex;
		justify-content: space-around;
	}
	.d-flex{
		display: flex;
	}
	.pd-25{
		padding: 25px 0;
		box-sizing: border-box;
	}

}